a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #5a8bd4; /* ngjyrë blu më e hapur */
}

.btn-primary {
    color: #fff;
    background-color: #7aa7e9; /* blu pastel më e lehtë */
    border-color: #6a96d1;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #7aa7e9;
    border-color: #6a96d1;
}

.border-top {
    border-top: 1px solid #dddfe2; /* ngjyrë gri shumë e lehtë */
}

.border-bottom {
    border-bottom: 1px solid #dddfe2;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .03); /* hije shumë e butë */
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    color: #777f9a; /* ngjyrë gri/blu shumë e lehtë për tekstin e footer */
}
